html {
    font-size: 62.5%;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #999999;
}

body {
    font-size: 1.6rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4 {
    color: #2c363e;
}

h1.green,
h2.green,
h3.green,
h4.green {
    color: #00a99d;
}

a {
    color: #999999;
}

a:hover, a:focus {
    color: #00a99d;
    text-decoration: none;
}