.TopNavComponent {
    display: inline-block;
    width: 100%;
    background-color: white;
    border-bottom: #f9f9f9;
    height: 9.5rem;
    line-height: 9.5rem;
    -webkit-box-shadow: 0 1rem 2.5rem 0 #ededed;
    -moz-box-shadow: 0 1rem 2.5rem 0 #ededed;
    box-shadow: 0 1rem 2.5rem 0 #ededed;
}

.TopNavComponent .navbar {
    padding: 0;
}

.TopNavComponent .navbar .navbar-brand {
    padding: 3.5rem 0;
    line-height: initial;
}

.TopNavComponent .navbar .nav-item {
    margin-left: 3rem;
}

.TopNavComponent .navbar .navbar-nav .nav-link {
    padding: 0;
}

.TopNavComponent .navbar .nav-link {
    color: #808080;
    text-decoration: none;
    display: inline-block;
    float: left;
}

.TopNavComponent .navbar .nav-link:hover,
.TopNavComponent .navbar .nav-link:focus {
    color: #00a99d;
    text-decoration: none;
    cursor: pointer;
}