.A25InputComponent {
    padding-bottom: 1.5rem;
}

.A25InputComponent .input {
    height: 3.6rem;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: 1px solid #f0f0f0;
    font-size: 1.7rem;
    color: #2c363e;
    padding: 0 1.5rem;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #999999;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999999;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999999;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999999;
}

.A25InputComponent .readOnly {
    border: 1px solid #eee;
    min-height: 3.4rem;
    padding: .6rem 1rem .4rem;
}