.A25BtnComponent {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  padding: 0 4rem;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
  height: 4.6rem;
  font-family: "Nexa Regular", sans-serif;
  border: none;
}

.A25BtnComponent.cancel {
  background-color: white;
  color: #333333;
  border-color: #C3C3C3;
}

.A25BtnComponent.danger {
  background-color: #ff4f1e;
  border-color: #bf2e0c;
}

.A25BtnComponent.green {
  background-color: #14be9d;
}