.A25TextareaComponent {
  margin-bottom: 2rem;
}

.A25TextareaComponent .input {
  width: 100%;
  outline: none;
  border: 1px solid #f0f0f0;
  border-radius: 0;
  font-size: 1.7rem;
  color: #2c363e;
  padding: 1rem 1.5rem;
}

.A25TextareaComponent .readOnly {
  border: 1px solid #eee;
  min-height: 3.4rem;
  padding: .6rem 1rem .4rem;
}

.A25TextareaComponent label {
  color: #999999;
  float: left;
}

.A25TextareaComponent label.error {
  color: #ff0000;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #999999;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999999;
  opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999999;
  opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999999;
}